* {
  color: #fff;
}

.back {
  height: 1.25rem;
  margin: 1.25rem .9375rem;
}

.search {
  position: relative;
  margin: 0 auto;
  height: 2.5rem;
  width: 90%;
}

.search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: rgba(200, 200, 200, .4);
  border-radius: 1.25rem;
  text-indent: 3em;
  font-size: 1rem;
}

.search img {
  position: absolute;
  height: 1.25rem;
  top: .625rem;
  left: .625rem;
}

.recommend p {
  position: relative;
  /* margin-top: 20px; */
  margin: 1.875rem 0 .625rem 1.25rem;
}

.citys {
  display: flex;
  position: absolute;
  overflow: auto;
  top: 10.625rem;
  bottom: 0;
  /* justify-content: space-around; */
  flex-flow: wrap;
  /* width: 300px; */
}

.item {
  /* flex: 1; */
  text-align: center;
  width: 33.3%;
  padding: 1.25rem 0px;
  box-sizing: border-box;
  border: .0625rem solid rgba(200, 200, 200, .4);
}

.item:nth-child(n) {
  /* background: #fff;
   */
  border-left: none;
}

.item:nth-child(3n) {
  border-right: none;
}

.item:nth-child(n+4) {
  border-top: none;
}