.item {
  display: flex;
  justify-content: space-between;
  margin: .4375rem;
  height: 5rem;
  color: #fff;
  border-radius: .5rem;
  background: linear-gradient(to right, #18f, #2af, #4cf, #6ef)
}