* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

body {
  background: url(../img/bg3.jpg);
}

header {
  position: relative;
}


.title {
  position: absolute;
  top: .9375rem;
  left: 3.75rem;
  font-size: 1.375rem;
  color: #fff;
  font-weight: normal;
}