* {
  padding: 0;
  margin: 0;
}

.control {
  /* display: none; */
  transition: all .1s;
  position: absolute;
  width: 9.375rem;
  height: 0px;
  right: 1.875rem;
  top: 2.5rem;
  border-radius: .3125rem;
  background-color: #ffe;
  z-index: 9;
}

.control p {
  display: none;
  margin: 0 .625rem;
  padding: .9375rem .625rem;
  font-size: .875rem;
  border-bottom: .0625rem solid #ccc;
}

.more {
  position: absolute;
  width: 1.25rem;
  right: .625rem;
  top: .9375rem;
}

.content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  display: grid;
  height: 100%;
  /* grid-template-rows: 40%; */
}

.time {
  font-size: 1.25rem;
}

.city {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 1.875rem 0;
}

.time {
  position: absolute;
  top: .625rem;
  left: 1.875rem;
  text-align: left;
}

.city-name {
  font-size: .625rem;
}

.wea-temp {
  font-size: 3.325rem;
}

.wea-temp span {
  display: inline-block;
  font-size: 1.75rem;
  vertical-align: text-top;
  margin-top: .5rem;
}

.wea-temps {
  padding: .625rem;
}

.temps-high,
.temps-low {
  font-size: 1rem;
}

.wea-sky {
  font-size: 1rem;
}

.city-AQI {
  font-size: .75rem;
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
  /* bottom: ; */
}

.date {
  position: absolute;
  overflow: auto;
  bottom: -1.875rem;
  left: 0;
  right: 0;
  top: 16.25rem;
  width: 95%;
  font-size: 1rem;
  /* margin: 0 40px; */
  margin: 3.125rem auto;
  color: #fff;


}

.info-weeks {
  display: flex;
  /* margin-right: 5px; */
  height: 3.125rem;
  border-top: .0625rem solid #fff;
  line-height: 3.125rem;
}

.info-date,
.info-img,
.info-temp {
  flex: 1;
}